html, body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: cadetblue;
}

h1, h2 {
    font-family:'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container > * {
    width: 100%;
    /* height: 80vh; */
}

.background {
    display: none;
}

ul {
    display: none;
}

.container nav {
    height: 10vh;
    background-color: lightsteelblue;
    display: flex;
    align-items: center; 
    justify-content: center;
    top: 0;
    position: sticky ;

}

.menu {   
    display: flex;
    flex-direction: row;
}

.menu a {
    margin: 5px;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container * {
    width: 100%;
}

.container main {
    background-color: lightslategrey;
    flex-direction: column;}

.main-title {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 14pt;
}

article > section{
    padding: 10px;
}


footer {
    /* color: rgba(rgb(190, 176, 176), rgb(161, 171, 161), rgb(122, 122, 147), 0.5); */
    position: relative;
    bottom: 0;
    background-color:lightslategrey ;
}

.foot-end {
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
}

    @media screen and ( min-width: 768px){ 
        .container {
            flex-direction: row;
        }

      

        .container nav {
            display: flex;
            width: 15%;
            height:auto;
            flex-wrap: wrap;
            align-items: flex-start;

        }

        .menu {   
            flex-direction: column;
        }
        
        .container .background {
            display: flex;
            width: 15%;
            /* height: 100vh; */
            background-image: url(./../assets/tree-background.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .container main {
            width:55% ;
            /* height: 100vh; */
            background-color: lightslategrey;
        }

        footer {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
        }
    }
