html, body {
  font-family: "Times New Roman", Times, serif, Arial, serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  html, body {
    font-size: 14pt;
  }
}
@media screen and (min-width: 1200px) {
  html, body {
    font-size: 16pt;
  }
}

* {
  box-sizing: border-box;
}

.image {
  width: 65%;
  border-radius: 50%;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3);
  margin: 5%;
}
@media screen and (min-width: 768px) {
  .image {
    width: 55%;
  }
}

.startpage-container {
  background-image: url(../assets/nature1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: white;
}
.startpage-container header {
  background-color: rgba(255, 255, 255, 0.1);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.startpage-container header .navbar {
  width: 100vw;
}
.startpage-container header .navbar ul {
  display: none;
  padding: 3%;
}
@media screen and (min-width: 768px) {
  .startpage-container header .navbar ul {
    display: unset;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .startpage-container header .navbar ul li {
    list-style: none;
    padding: 1%;
  }
  .startpage-container header .navbar ul li a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: border 0.2s;
  }
  .startpage-container header .navbar ul li a:hover {
    border-color: white;
    cursor: pointer;
  }
}
.startpage-container .frontpage {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startpage-container .frontpage .frontpage__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 90vw;
  flex-wrap: wrap;
}
.startpage-container .frontpage .frontpage__text .headline-text {
  font-size: 1.5rem;
  margin: 7%;
}
.startpage-container .frontpage .frontpage__text p {
  width: 75%;
  text-align: center;
}
.startpage-container .frontpage .btn--container {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startpage-container .frontpage .btn--container .fa-circle-down {
  font-size: 1.2rem;
  color: white;
}
.startpage-container .frontpage .btn--container .fa-circle-down:hover {
  cursor: pointer;
}

.aboutus {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutus .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .aboutus .info {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.aboutus .info .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  .aboutus .info .intro {
    width: 50%;
    padding: 2%;
  }
}
.aboutus .info article {
  background-color: lightgray;
  border-radius: 5px;
  padding: 10%;
  margin: 5%;
  font-size: 0.9rem;
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .aboutus .info article {
    font-size: 1rem;
  }
}
.aboutus .info article .fa-quote-right {
  font-size: 2rem;
  display: inline;
}
@media screen and (min-width: 1200px) {
  .aboutus .info article .fa-quote-right {
    font-size: 2.3rem;
  }
}
.aboutus .btn--container {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutus .btn--container .fa-circle-down {
  font-size: 1.2rem;
  color: white;
  color: black;
}
.aboutus .btn--container .fa-circle-down:hover {
  cursor: pointer;
}

.lastpage {
  width: 100vw;
  background-color: black;
  color: white;
}
.lastpage .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10%;
}
@media screen and (min-width: 768px) {
  .lastpage .contact-info {
    flex-direction: row;
    height: 25vh;
  }
}
@media screen and (min-width: 1200px) {
  .lastpage .contact-info {
    height: 15vh;
  }
}
.lastpage .contact-info section {
  width: 60vw;
  text-align: left;
  margin: 5%;
}
@media screen and (min-width: 768px) {
  .lastpage .contact-info section {
    height: 10vh;
    padding: 0;
    margin-bottom: 10%;
  }
}
.lastpage .contact-info section p {
  margin: 3%;
}
.lastpage .contact-info section p a {
  text-decoration: none;
  color: white;
}
.lastpage .contact-info section p a i {
  margin: 3%;
}

/*# sourceMappingURL=main.css.map */
